<div class="container">
  <div class="header">
    <h1 class="title">Product List</h1>
    <button mat-button class="logout-button" (click)="logout()">Logout</button>
  </div>
  
  <div class="filters">
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilter()">
        <mat-option value="all">All</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Limit</mat-label>
      <mat-select [(value)]="selectedLimit" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let limit of limits" [value]="limit">{{ limit }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="filteredProducts" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let product">{{ product.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let product">{{ product.title }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let product">{{ product.category }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{ product.price | currency }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <button mat-raised-button color="primary" (click)="openProductModal(product)">Open</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
